<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <!-- The local path to the file you want to upload for 35 -->
    <add key="FilePath" value="file.txt"/>
    <!-- Use multiple file paths by separating with , or ; for 45-->
    <add key="FilePaths" value="file1.txt, file2.txt, file3.txt"/>
    <!-- Your Ftp -->
    <add key="FtpAddress" value="ftp://127.0.0.1/"/>
    <!-- The path where you want the files to be uploaded -->
    <add key="FtpDestinationPath" value="public_ftp/"/>
    <!-- Your ftp username -->
    <add key="FtpUserName" value=""/>
    <!-- Your ftp password -->
    <add key="FtpPassword" value=""/>
  </appSettings>
  
</configuration>